.welcome {
  background-image: url("../../../assets/welcome.png");
  background-position-x: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  align-items: center;
  min-height: 535px;

  &__content {
    max-width: 50%;

    &__button {
      max-width: 150px;
      min-height: 60px;
    }
  }
}

@media (width <= 758px) {
    .welcome {
        background-image: none;
      
        &__content {
          max-width: 100%;
        }
      }
}