// * {
//     outline: 1px #000 solid;
// }

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.svg_size_default {
    width: 35px;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.2);
    }
}

@media (width <= 758px) {
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 18px;
    }
}