:root {
  // Colors
  --main-color: #000000;
  --main-color-hover: #333;
  --secondary-color: #f5f5f5;

  --background-color: #fff;
  --background-color-scrolled: #ffffff7c;

  --site-color-1: #ff8181;
  --site-color-2: #ffe372;
  --site-color-3: #bbd7b2;
  --site-color-4: #beb8fd;

  --disabled-color: #f2f2f2;
  --important-color: #970000;

  --main-text-color: #000000;
  --alternative-text-color: #fff;
  --secondary-text-color: #6e6e6e;

  // Parameters
  --main-radius: 30px;
  --text-size: 14px;
  --box-shadow: 0 4px 15px #0000001d;
  --box-shadow-hover: 0 4px 15px #0000005e;
}
