:root {
  --background-color: #fff;
  --background-color-scrolled: #ffffff7c;
  --main-color: #000000;
  --main-color-hover: #333;
  --secondary-color: #f5f5f5;
  --disabled-color: #f2f2f2;
  --important-color: #970000;
  --main-text-color: #000000;
  --alternative-text-color: #fff;
  --secondary-text-color: #6e6e6e;
  --bg-color-product-1: #ffe372;
  --bg-color-product-2: #ff8181;
  --main-radius: 30px;
  --text-size: 14px;
  --box-shadow: 0 4px 15px #0000001d;
  --box-shadow-hover: 0 4px 15px #0000005e;

  // Tags
  --bg-color-tag-sale: #ff8181;
  --bg-color-tag-hit: #ffe372;
  --bg-color-tag-premium: #bbd7b2;
}
