:root {
  --background-color: #fff;
  --main-color: #000000;
  --disabled-color: #f2f2f2;
  --important-color: #970000;
  --main-text-color: #000000;
  --alternative-text-color: #fff;
  --secondary-text-color: #6e6e6e;
  --main-radius: 30px;
  --text-size: 14px;
  --box-shadow: 0 4px 15px #0000001d;
  --box-shadow-hover: 0 4px 15px #0000005e;
}
