@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
  font-size: var(--text-size);
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}   

.layout {
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    background-color: transparent;
}

.content {
    margin-top: 120px;
}

.footer {
    border-radius: var(--main-radius) var(--main-radius) 0 0;
    margin-top: 50px;
    text-align: center;
}