.product {
  display: grid;
  grid-template-areas:
    "image"
    "description"
    "trade-offer";
  gap: 20px;
  padding: 20px;

  &__wish {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  &__image {
    grid-area: image;
    justify-self: center;
    width: 100%;
    max-width: 250px;
    align-self: center;
  }

  &__description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-text {
      line-height: 1.2;
    }
  }

  &__trade-offer {
    grid-area: trade-offer;
  }

  &__price {
    font-size: 18px;
    font-weight: bold;
  }

  &_row {
    grid-template-columns: 85px 1fr 220px;
    grid-template-areas: "image description trade-offer";
    align-items: center;
    gap: 30px;
    padding: 20px 30px;

    @media (width <= 758px) {
        grid-template-columns: 85px 1fr;
        grid-template-areas:
          "image description"
          "trade-offer trade-offer";
        gap: 10px;
        padding: 20px;
    }
  }
}
