.product {
  display: grid;
  gap: 20px;
  padding: 20px;

  &__wish {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  &__image {
    width: 100%;
    max-width: 250px;
    align-self: center;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-text {
      line-height: 1.2;
    }
  }

  &__price {
    font-size: 18px;
    font-weight: bold;
  }

  &_row {
    grid-template-columns: 85px 1fr 220px;
    align-items: center;
    gap: 30px;
    padding: 20px 30px;

    .product__trade-offer {
      flex: 100%;
    }
  }
}
